.container-participating{
    position: relative;
    width: 100%;
    height: 100%;
    border-top:0.5px solid var(--white) ;
    padding-top: 30px;
}
.container-participating>h1{
    color: var(--green);
    background-color: var(--black);
    padding: 10px;
    font-family: 'Fira code', monospace;
    font-size: 1em;
    font-weight: 400;
    position: absolute;
    top: -20px;
    left: 20px;
}
.container-cards{
    padding: 0px 15px 0px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}